extends layout

block content

	div.container
		div.col-xs-12.col-sm-9
			.jumbotron
				h1=title
				p Zusätzlich zum Poltern können folgende Dinge auf der Location unternommen werden.
			.row
				.col-6.col-sm-6.col-lg-4
					h2 Schwimmen
					p
						| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
					a.btn.btn-default(href='#', role='button') View details »
				.col-6.col-sm-6.col-lg-4
					h2 Volleyball
					p
						| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
					a.btn.btn-default(href='#', role='button') View details »
				.col-6.col-sm-6.col-lg-4
					h2 Tanzen
					p
						| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
					a.btn.btn-default(href='#', role='button') View details »
				.col-6.col-sm-6.col-lg-4
					h2 Porzellan vergessen
					p
					| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
					a.btn.btn-default(href='#', role='button') View details »
				.col-6.col-sm-6.col-lg-4
					h2 Zelten
					p
						| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
					a.btn.btn-default(href='#', role='button') View details »
				.col-6.col-sm-6.col-lg-4
					h2 Bierpongturnier
					p
						| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
					a.btn.btn-default(href='#', role='button') View details »
	div.container.marketing
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Badestelle
					span.text-muted Bitte bringt Eure Badesachen mit.
			.col-md-5
				<img src="/images/unterkunft/bad_zwintschöna.jpg", alt="Sarah beim Poltern", width="500", height="200">
		hr.featurette-divider
		.row.featurette
			.col-md-5
			.col-md-7
				h2.featurette-heading
					| Volleyball
					span.text-muted Wer lust auf Volleyball hat kann das gerne machen.
