extends layout

block content

	div.container
		.jumbotron(text-style="center")
			h1=title
			p Zusätzlich zum Poltern können folgende Dinge auf der Location unternommen werden.
		hr.featurette-divider
		.row.featurette
			.col-md-5
				<img src="/images/activities/schwimmen.jpeg", alt="schwimmen", width="400", height="200">
			.col-md-7
				h2.featurette-heading
					| Schwimmen.
					span.text-muted 	Im Freibad kann natürlich geplanscht werden. Also bitte bringt Eure Badesachen mit.
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Beach-Volleyball
					span.text-muted 	Das Freibad verfügt über drei Plätze. Ein Ball wird sich schon finden lassen.
			.col-md-5
				<img src="/images/activities/volleyball.jpeg", alt="beachvolleyball", width="400", height="200"
		.row.featurette
			.col-md-5
				<img src="/images/activities/tanzen.jpeg", alt="tanzen", width="400", height="200">
			.col-md-7
				h2.featurette-heading
					| Tanzen.
					span.text-muted 	Kreative Tanzstile sind erwünscht. Die klassischen Hüftbewegungen sind auch ok.
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Zelten
					span.text-muted 	Direkt am Freibad ist ein Zeltplatz, wo man gut Zelten kann. 
					a.btn.btn-default(href='unterkunft', role='button') Hier findet ihr weiter Details »
			.col-md-5
				<img src="/images/activities/zelten.jpeg", alt="zelten", width="300", height="200"
		.row.featurette
			.col-md-5
				<img src="/images/activities/beerpong.jpeg", alt="beerpong", width="300", height="200">
			.col-md-7
				h2.featurette-heading
					| Bierpongturnier.
					span.text-muted 	Lasst Euch überraschen...