extends layout

block content

	div.container
		.jumbotron(text-style="center")
			h1=title
		.row
			.col-md-12
				h2
					span Ansprechpartner vom Polterabend sind:
				p.lead
					| Evelin Forkmann, 0151-27078061, eviforkmann@gmx.de
				p.lead
					| Tim Forkmann, 0176-83234025, tforkmann@gmail.com
