.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p.pull-right
			a(href='#') Back to top
		p &copy;&nbsp;
			a(href='contact') Tim Forkmann
			|  2014
			a(href='privacy') 	Privacy
			|  
			a(href='agbs') 	AGBs

link(rel='stylesheet', href='/css/custom.css')
script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
script(src='/javascripts/bootstrap.min.js')

block footer