extends layout

block content

- var name= "<em>Tim</em>";
- var fn = function () { return "Hello, Express!!!! "; };
- var followerCount = 2;
- var users = [{name: "Tim", email: "tforkmann@gmail.com"}, {name: "Sarah", email: "spfiliatrault@gmail.com"}]

	div.container
		h1 Polterabend
		p Willkommen beim Poltern!
		
		li.current one
		li !{name}
		li=fn()
			a(href="/other") Go to other  
			p 
				if followerCount === 0
					| You have no followers.
				else if followerCount === 1
					| You have one followers
				else
					| You have #{followerCount} followers.
	
			ul
			each userObject, i in users
				include user
		
		