h1 Hallo Gäste
h2=title

- var name= "<em>Tim</em>";
- var fn = function () { return "Hello, Express!!!! "; };
- var followerCount = 2;

style
	li { background: yellow }

ul#nav
	li.current one
	li !{name}
	li=fn()
		a(href="/other") Go to other 

p 
	if followerCount === 0
		| You have no followers.
	else if followerCount === 1
		| You have one followers
	else
		| You have #{followerCount} followers.
	