extends layout

block content

	div.container
		.jumbotron.text-center
			h1=title
			p Am 26.7.2014 wird im Friedrichsbad Zwintschöna gepoltert.
		#myCarousel.carousel.slide
			ol.carousel-indicators
				li.active(data-target='#myCarousel', data-slide-to='0')
				li(data-target='#myCarousel', data-slide-to='1')
			.carousel-inner
				.item.active
					<img src="/images/index/sarah_poltern.jpg", width="1200" height="400" alt="Sarah beim Poltern">
					.container
						.carousel-caption
							h1 Sarah beim Poltern.
							p
								| Für diejenigen die nicht wissen, um was es beim Polterabend geht. Hier eine Vorführung von Sarah.
				.item
					<img src="/images/index/Scherben_Polterabend.jpg", alt="Glückbringende Scherben", width="1200", height="400">
					.container
						.carousel-caption
							h1 Glückbringende Scherben.
							p
								| Die Scherben sollen Glück bringen. Wer hat das eigentlich erfunden?
								span(id="countdown")
			a.left.carousel-control(href='#myCarousel', data-slide='prev')
				span.glyphicon.glyphicon-chevron-left
			a.right.carousel-control(href='#myCarousel', data-slide='next')
				span.glyphicon.glyphicon-chevron-right