extends layout

block content

	div.container 
		div.jumbotron
			h1=title
			p Gepoltert wird in Zwintschöna

		#anfahrt
		.row
			.col-md-12
				h3.headline
					span
						p Wie komme ich zur Location?
			.col-md-12
				#map_canvas(style='width: 100%; height: 450px;')