extends layout

block content

	div.container 
		.content-bg.kontakt
			.row
				.col-md-12
					h3.headline
						span.text-muted Location:
						p.lead
							| Naturbad Friedrichsbad Zwintschöna
						p.lead
							| Reideburger Str. 20
						p.lead
							| 06184 Kabelsketal OT Dieskau
						p.lead
							a.btn.btn-default(href='https://www.google.de/maps/place/Am+Friedrichsbad/@51.4571248,12.0488672,17z/data=!3m1!4b1!4m2!3m1!1s0x47a663c4518416dd:0x8ef9c7ce31b0b949', role='button') Hier geht's zu Google maps »
		<img src="/images/location/location.png", alt="location", width="1200", height="600">