extends layout

block content

	div.container 
		div.jumbotron
			h1=title
			p Gepoltert wird in Zwintschöna
		#anfahrt
		
		.content-bg.kontakt
			.row
				.col-md-12
					h3.headline
						span.text-muted Location:
						p.lead
							| Naturbad Friedrichsbad Zwintschöna
						p.lead
							| Reideburger Str. 20
						p.lead
							| 06184 Kabelsketal OT Dieskau
		.row
			.col-md-12
				h3.headline
					span
						p Wie komme ich zur Location?
			.col-md-12
				#map_canvas(style='width: 100%; height: 450px;')
