extends layout

block content

	div.container.marketing
		div.jumbotron
			h1=title
			p Hier ist eine Liste von möglichen Unterkunften in Zwintschöna und Umgebung!
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Zeltplatz Friedrichsbad Zwintschöna.
					span.text-muted  	Fürs Zelten bitte eigene Zelte mitbrigen.
				p.lead
					| Die Kosten fürs Zelten betragen 4€ pro Zelt und 4€ pro Person. Falls ihr gerne Zelten möchtet teilt uns das bitte mit, damit wir einen Platz für Euch reservieren können.
			.col-md-5
				<img src="/images/unterkunft/bad_zwintschöna.jpg", alt="Sarah beim Poltern", width="400", height="200">
		hr.featurette-divider
		h1(style="text-align: center") Ihr könnt auch gerne ein Hotel buchen.
		hr.featurette-divider
		.row.featurette
			.col-md-5
				<img src="/images/unterkunft/arc-hotel.jpg", alt="arc-hotel", width="400", height="200">
			.col-md-7
				h2.featurette-heading
					| ARC Hotel in Kabelsketal.
					span.text-muted 	Döllnitzer Str. 1, 06184 Kabelsketal OT Dieskau. 
				p.lead
					| Ein Doppelzimmer kostet hier die Nacht 52 €. Es wurden 10 Doppelzimmer auf den Namen Forkmann reserviert. Bitte teilt uns mit, ob ihr ein Zimmer benötigt.
				p.lead
					| Taxitransfer zu Hotel ist möglich.
				p.lead
					a(href='http://www.arc-hotel.de') Internetseite: Arc-Hotel
				p.lead
					a(href='mailto:info@arc-hotel.de') E-Mail: Arc-Hotel  
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Hotel Konsul
					span.text-muted 	Hotelstraße 1, 06184 Kabelsketal OT Dieskau. 
				p.lead
					| Ein Doppelzimmer kostet hier die Nacht 62 €. Ein Einzelzimmer kostet 35 €. Zimmer können unter folgender Buchungshotline gebucht werden: +49 - 34602-67-0.
				p.lead
					| Taxitransfer zum Hotel ist auch hier möglich.
				p.lead
					a(href='http://www.hotel-konsul.de/willkommen.html') Internetseite: Hotel-Konsul
				p.lead
					a(href='mailto:info@hotel-konsul.de') E-Mail: Hotel-Konsul
			.col-md-5
				<img src="/images/unterkunft/hotel-konsul.jpg", alt="hotel konsul", width="200", height="200">
		hr.featurette-divider
		.row.featurette
			.col-md-5
				<img src="/images/unterkunft/pension-meier-halle.jpeg", alt="hotel konsul", width="300", height="200">
			.col-md-7
				h2.featurette-heading
					| Pension Meier
					span.text-muted 	Ralf T.Meier Pension, Friedenstraße 32, 06114 Kabelsketal OT Dieskau. 
				p.lead
					| Das Einzelzimmer in der Pension Meier kostet 45 € inkl. Frühstück. 65 € inkl. Frühstück kostet das Doppelzimmer.
				p.lead
					| Auch zur Pension Meier ist der Taxitransfer möglich.
				p.lead
					a(href='http://www.pension-meier-halle.de/pension_halle') Internetseite: Pension Meier
				p.lead
					a(href='mailto:kontakt@pension-meier-halle.de') E-Mail: Pension Meier
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Hostel No. 5
					span.text-muted 	Halle, Innenstadt, Robert-Franz-Ring 5, 06108 Halle 
				
				p.lead
					| Mehrbettzimmer: 15 €
				p.lead
					| Einzelzimmer: 25 €
				p.lead					
					| Zweibett: 40 €
				p.lead
					| Das Hostel erreicht man per Bus oder Taxi.
				p.lead
					a(href='http://hostel-no5.de') Internetseite: Hostel-No.5    
				p.lead
					a(href='mailto:hostel-no5@gmx.de ') E-Mail: Hostel-No.5  
			.col-md-5
				<img src="/images/unterkunft/hostel-no5.jpg", alt="hostel no.5", width="200", height="200">
		hr.featurette-divider
		.row.featurette
			.col-md-5
				<img src="/images/unterkunft/haus-am-park.png", alt="haus am park", width="400", height="200">
			.col-md-7
				h2.featurette-heading
					| Hotel Haus am Park
					span.text-muted 	Dieskau in der Nähe vom Polterort. Neue Siedlung 9, 06184 Kabelsketal OT Dieskau
				p.lead
					| Das Einzelzimmer in dem Hotel Haus am Park  inkl. Frühstück kostet 47 €. Das Doppelzimmer inkl. Frühstück. kostet 60 €.
				p.lead
					| Auch zum Haus am Park ist ein Taxitransfer möglich.
				p.lead
					a(href='http://hotel-haus-am-park.com') Internetseite: http://hotel-haus-am-park.com  
				p.lead
					a(href='mailto:info@hotel-haus-am-park.com') E-Mail: info@hotel-haus-am-park.com


