extends layout

block content

	div.container.marketing
		div.jumbotron
			h1=title
			p Hier ist eine Liste von möglichen Unterkunften in Zwintschöna und Umgebung!
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Zeltplatz Friedrichsbad Zwintschöna.
					span.text-muted Bitte Zelt mitbrigen.
				p.lead
					| Die Kosten fürs Zelten betragen 4€ pro Zelt und 4€ pro Person. Falls ihr gerne Zelten füllt bitte follgendes Formular aus.
			.col-md-5
				<img src="/images/unterkunft/bad_zwintschöna.jpg", alt="Sarah beim Poltern", width="500", height="200">
		hr.featurette-divider
		.row.featurette
			.col-md-5
			.col-md-7
				p.lead
					| Ihr könnt auch gerne ein Hotel buchen.
				h2.featurette-heading
					| ARC Hotel in Kabelsketal.
					span.text-muted Döllnitzer Str. 1, 06184 Kabelsketal OT Dieskau. 
					a(href='info@arc-hotel.de') E-Mail  
					a(href='www.arc-hotel.de') Internet  
				p.lead
					| Ein Doppelzimmer kostet hier die Nacht 52 €. Es wurden 10 Doppelzimmer auf den Namen Forkmann reserviert.
				p.lead
					| Taxitransfer möglich
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Hotel Konsul
					span.text-muted Hotelstraße 1, 06184 Kabelsketal OT Dieskau. 
					a(href='info@hotel-konsul.de') E-Mail  
					a(href='http://www.hotel-konsul.de/willkommen.html') Internet  
				p.lead
					| Ein Doppelzimmer kostet hier die Nacht 62 €. Ein Einzelzimmer kostet 35 €. Zimmer können unter folgender Buchungshotline gebucht werden: +49 - 34602-67-0.
				p.lead
					| Taxitransfer zum Hotel ist auch hier möglich.
			.col-md-5
		hr.featurette-divider
		.row.featurette
			.col-md-5
			.col-md-7
				h2.featurette-heading
					| Pension Meier
					span.text-muted Ralf T.Meier Pension, Friedenstraße 32, 06114 Kabelsketal OT Dieskau. 
					a(href='info@hotel-konsul.de') E-Mail  
					a(href='http://www.hotel-konsul.de/willkommen.html') Internet  
				p.lead
					| Das Einzelzimmer in der Pension Meier kostet 45 € inkl. Frühstück. 65 € inkl. Frühstück kostet das Doppelzimmer.
				p.lead
					| Auch zur Pension Meier ist der Taxitransfer möglich.
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Hostel No. 5
					span.text-muted Halle, Innenstadt, Robert-Franz-Ring 5, 06108 Halle 
					a(href='hostel-no5@gmx.de ') E-Mail  
					a(href='http://hostel-no5.de') Internet  
				p.lead
					| Mehrbettzimmer: 15 €
				p.lead
					| Einzelzimmer: 25 €
				p.lead					
					| Zweibett: 40 €
				p.lead
					| Das Hostel erreicht man per Bus oder Taxi.
				.col-md-5
		hr.featurette-divider
		.row.featurette
			.col-md-5
			.col-md-7
				h2.featurette-heading
					| Hotel Haus am Park
					span.text-muted Dieskau in der Nähe vom Polterort. Neue Siedlung 9, 06184 Kabelsketal OT Dieskau
				p.lead
					| Das Einzelzimmer in der Pension Meier kostet 45 € inkl. Frühstück. 65 € inkl. Frühstück kostet das Doppelzimmer.
				p.lead
					| Auch zur Pension Meier ist der Taxitransfer.
				p.lead
					a(href='http://hotel-haus-am-park.com') Internetseite: http://hotel-haus-am-park.com  
				p.lead
					a(href='info@hotel-haus-am-park.com') E-Mail: info@hotel-haus-am-park.com  
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Abends ist auch eine Eigenabreise möglich.
					span.text-muted 800 m zur Bushaltestelle Kanena
				p.lead
					| Großraumtaxis und normale Taxis können bestellt werden.
				p.lead
					| Auch zur Pension Meier ist der Taxitransfer.
				p.lead
					a(href='http://hotel-haus-am-park.com') Internetseite: http://hotel-haus-am-park.com  
				p.lead
					a(href='info@hotel-haus-am-park.com') E-Mail: info@hotel-haus-am-park.com 
			.col-md-5
 



